@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

.reveal a.sourceLine {
    color: #657b83;
}

.reveal div.sourceCode {
    overflow: initial;
}

.reveal pre {
    font-family: 'Fira Mono', monospace;
    font-size: 0.8em;
    line-height: inherit;
}

.reveal li pre {
    width: 100%;
}

.reveal code {
    font-family: 'Fira Mono', monospace;
    color: #268bd2;
    font-size: 90%;
    white-space: pre;
}

.reveal pre code {
    font-size: 80%;
    max-height: inherit;
    box-shadow: 5px 5px 8px lightgrey;
    background: #fdf6ed;
    padding: 10px;
}

span.smallcaps {
    font-variant: small-caps;
}

span.underline {
    text-decoration: underline;
}

div.line-block {
    white-space: pre-line;
}

div.column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

div.quizArea, div.quizResults {
    height: 590px;
    box-shadow: 5px 5px 8px lightgrey;
    border-style: solid;
    border-width: 1px;
    background: #fdf6ed;
    padding: 10px !important;
}

ol.questions {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

ul.answers input[type=radio] {
    position: relative;
    top: -4px;
    transform: scale(1.5);
    margin-right: 10px;
}

.line {
    display: block;
}

.line.focus {
    background: yellow;
}

.hljs-meta {
    color: #7d9029;
    font-weight: bold;
}

h3 .header-section-number, h4 .header-section-number {
    display: none;
}

.toc-section-number:after, .header-section-number:after {
    content: '. ';
}

#TOC ul {
    list-style-type: none;
}
