<div id="hidden" style="display:none;">
    <div id="header">
        <div id="header-right"></div>
        <div id="footer-left"></div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
        function updateHeader(nd) {
            for (var n = nd; n != null; n = n.previousSibling) {
                var cl = n.classList;
                if (cl.contains('level1')) {
                    var h = n.querySelector('h1');
                } else if (cl.contains('level2')) {
                    var h = n.querySelector('h2');
                } else {
                    continue;
                }
                var hr = document.getElementById('header-right');
                if (h == null || Reveal.getCurrentSlide().id == 'title-slide') {
                    hr.innerHTML = '';
                } else {
                    var el = document.createElement('a');
                    var href = '#/' + n.id;
                    el.href = href;
                    el.innerHTML = h.innerHTML;
                    var a = el.querySelector('a');
                    if (a !== null) {
                        a.href = href;
                    }
                    while (hr.children.length > 0) {
                        hr.removeChild(hr.lastChild);
                    }
                    hr.appendChild(el);
                }
                hr.style.fontSize = Math.round(50 * Reveal.getScale()) + '%';
                hr.style.fontSize = Math.max(Number.parseInt(getComputedStyle(hr).fontSize), 12) + 'px';
                return;
            }
        }
        // On Reveal.js ready event, copy header/footer <div>
        // into each `.slide-background` <div>
        Reveal.addEventListener('ready', function(event) {
            var header = document.getElementById('header');
            document.querySelector('.reveal').appendChild(header);
            updateHeader(Reveal.getCurrentSlide());
        });
        Reveal.addEventListener('slidechanged', function(event) {
            // event.previousSlide, event.currentSlide, event.indexh, event.indexv
            updateHeader(event.currentSlide);
        });
    });
</script>
